* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height: 100px;
}

.google-logo {
    width: 90px;
    margin-left: 25px;
}

.search-bar {
    width: 575px;
    height: 45px;
    margin-left: 45px;
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #dadce8;
    box-shadow: 0 2px 4px rgba(32, 36, 33, .20);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 90px;
    background-image: url(images/search.svg);
    background-position: 645px 10px;
    background-repeat: no-repeat;
    background-size: 23px;
}

.search-bar:hover {
    box-shadow: 0 3px 10px rgba(32, 36, 33, .20);
}

.settings {
    margin-left: 900px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.settings:hover {
    background-color: whitesmoke;
}

.apps {
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.apps:hover {
    background-color: whitesmoke;
}

.profile {
    width: 32px;
    border-radius: 50%;
    padding: 4px;
}

.profile:hover {
    background-color: whitesmoke;
}

.subnavbar {
    list-style-type: none;
    margin-top: -15px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
}

header a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.subnavbar-icons {
    position: relative;
    width: 18px;
    margin-right: 3px;
    top: 5px;
}

.all {
    margin-left: 180px;
}

.news {
    margin-left: 25px;
}

.videos {
    margin-left: 25px;
}

.maps {
    margin-left: 25px;
}

.shopping {
    margin-left: 25px;
}

.more {
    margin-left: 25px;
}

.tools {
    position: relative;
    margin-left: 150px;
    top: 2px;
}

.main {
    margin-left: 180px;
    margin-right: 1100px;
}

.wordpress-logo {
    width: 100px;
}

.webflow-logo {
    width: 100px;
}

.google-web-designer-logo {
    width: 110px;
}

.adobe-dreamweaver-logo {
    width: 120px;
}

.visual-studio-code-logo {
    width: 100px;
}

.adobe-xd-logo {
    width: 100px;
}