* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height: 100px;
    width: 100%;
}

.google-logo {
    width: 90px;
    margin-left: 25px;
}

.search-bar {
    width: 575px;
    height: 45px;
    margin-left: 45px;
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #dadce8;
    box-shadow: 0 2px 4px rgba(32, 36, 33, .20);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 90px;
    background-image: url(images/search.svg);
    background-position: 645px 10px;
    background-repeat: no-repeat;
    background-size: 23px;
}

.search-bar:hover {
    box-shadow: 0 3px 10px rgba(32, 36, 33, .20);
}

.settings {
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 650px;
}

.settings:hover {
    background-color: whitesmoke;
}

.apps {
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.apps:hover {
    background-color: whitesmoke;
}

.profile {
    width: 32px;
    border-radius: 50%;
    padding: 4px;
}

.profile:hover {
    background-color: whitesmoke;
}

.subnavbar {
    list-style-type: none;
    margin-top: -15px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
}

header a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.subnavbar-icons {
    position: relative;
    width: 18px;
    margin-right: 3px;
    top: 5px;
}

.all {
    margin-left: 180px;
}

.news {
    margin-left: 25px;
}

.videos {
    margin-left: 25px;
}

.maps {
    margin-left: 25px;
}

.shopping {
    margin-left: 25px;
}

.more {
    margin-left: 25px;
}

.tools {
    position: relative;
    margin-left: 150px;
    top: 2px;
}

.main {
    margin-left: 180px;
    width: 590px;
}

.search-results {
    color: #5f6368;
    font-size: 14px;
    margin-bottom: 15px;
}

article sup {
    font-size: 14px;
}

main article {
    margin-bottom: 22px;
}

.more-icon-sup {
    position: relative;
    margin-left: 20px;
    width: 18px;
    top: 3px;
}

article h1 a {
    color: rgb(26, 13, 171);
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

article h1 a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 2px;
    margin-bottom: 3px;
}

p {
    font-size: 14px;
    line-height: 155%;
    color: #4d5156;
}

.related-searches {
    font-weight: normal;
    font-size: 22px;
    height: 35px;
    margin-bottom: 20px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(32, 36, 33, .20)
}

.website-making-software {
    font-weight: normal;
    font-size: 16px;
}

.related-searches-links {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    text-align: center;
}

figcaption a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    word-wrap: break-word;
    margin-left: 10px;
}

figcaption a:hover {
    text-decoration: underline;
}

.wordpress-logo {
    background-color: whitesmoke;
    width: 100px;
}

.google-web-designer-logo {
    background-color: whitesmoke;
    width: 100px;
    margin-left: 10px;
}

.adobe-dreamweaver-logo {
    background-color: whitesmoke;
    width: 100px;
}

.visual-studio-code-logo {
    background-color: whitesmoke;
    width: 100px;
}

.adobe-xd-logo {
    background-color: whitesmoke;
    width: 100px;
    margin-left: 10px;

}

.see-more-button {
    width: 300px;
    height: 35px;
    margin-left: 150px;
    border: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color: #dadce8;
    background-color: white;
    font-size: 14px;
    color: rgb(26, 13, 171)
}

.see-more-button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.see-more-button-margin {
    height: 70px;
    margin-bottom: 20px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(32, 36, 33, .20)
}

.buttons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 590px;
    height: 250px;
    margin-top: 25px;
}

.related-searches-buttons {
    width: 270px;
    height: 50px;
    margin: 6px;
    border: transparent;
    border-width: 1px;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 15px;
    text-align: start;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position: 18px 15px;
    background-size: 20px;
    background-color: #f1f3f4;
    font-weight: bold;
    cursor: pointer;
}

.related-searches-buttons:hover {
    text-decoration: underline;
}

.button-text {
    text-decoration: none;
    color: #222;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 40px;
    
}

.location {
    width: 100%;
    margin-left: 400px;
    font-size: 14px;
    color: #5f6368;
}

.navbar-footer {
    display: flex;
    margin-left: 400px;
    list-style-type: none;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    margin-right: 30px;
}

footer a:hover {
    color: #3c4043;
}